[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/bullet3"]
	path = dep/bullet3
	url = https://github.com/bulletphysics/bullet3/
