[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm
[submodule "dep/bullet3"]
	path = dep/bullet3
	url = https://github.com/bulletphysics/bullet3/
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/tinyobjloader"]
	path = dep/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "dep/glew"]
	path = dep/glew
	url = https://github.com/nigels-com/glew
[submodule "dep/tinygltf"]
	path = dep/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui
[submodule "dep/freetype2"]
	path = dep/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
